<form action="/add" method="POST">
    <div class="form-group">
        <h4>Título: </h4>
        <input class="form-control mt-2" type="text" name="titulo">
        <br>
        <h4>Conteúdo: </h4>
        <textarea class="form-control" name="conteudo"></textarea>
        <button class="btn btn-primary mt-3" type="submit">Cadastrar postagem</button>
    </div>
</form>